.RightSide_main {
    height: 100%;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 298px;
    margin: 30px;
    position: relative;
    left: 200px;
    background-color: #48dbfb;
     background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);
  
}
.product_name {
    font-size: 16px!important;
    line-height: 24px!important;
    font-weight: 400 !important;
}
.product_price {
    color: #B12704;
    font-size: 20px;
    font-weight: 600;
}
.product_image {
    color: #B12704;
}
a:hover img {
    transform: scale(1.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .baxk
  {
    background-color: #48dbfb;
     background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);
  
  }